<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Modal</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>

<footer class="footer">
  <div class="footer-container">
    <ul class="footer-list">
      <li class="footer-item">&#169; 2022 | All Rights Reserved |</li>
      <div>
        <ul class="footer-item-container">
          <li class="footer-item">
            Developed with
            <svg class="footer-icon" width="14px" height="13px">
              <use href="./images/icon/symbol-defs.svg#icon-heart"></use>
            </svg>
          </li>
          <li class="footer-item">
            <!-- Trigger/Open The Modal -->
            <button class="modal-button">by GoIT Students</button>
          </li>
        </ul>
      </div>
    </ul>
  </div>
<!-- The Modal -->
<div id="myModal" class="modal">
<!-- The Modal -->
<div class="modal" id="teamModal">
  <div class="modal-dialog modal-xl d-flex gap-3">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Our Team</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>


      <!-- Modal body -->
      <div class="modal-body">
        <div class="d-flex  justify-content-between">
          <div class="card">
            <img class="card-img-top" src="/src/images/foto.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Joseph Camacho</h4>
              <p class="card-text">Team Leader</p>
              <p class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
              </p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/src/images/foto.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title">Cat Clarino</h3>
              <p class="card-text">Scrum Master</p>
              <p class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
              </p>
            </div>
          </div>
        </div>
        <br />
        <div class="d-flex  justify-content-between">
          <div class="card">
            <img class="card-img-top" src="/src/images/foto.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title">Tin Pasco</h3>
              <p class="card-text">Developer</p>
              <p class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
              </p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/src/images/foto.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title">Roel Edeleon</h3>
              <p class="card-text">Developer</p>
              <p class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
              </p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/src/images/foto.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title">Jeadine Boldios</h3>
              <p class="card-text">Developer</p>
              <p class="socials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("teamModal");

  // Get the button that opens the modal
  var btn = document.getElementById("openModalBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


</footer>
