<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Our Team</h2>
        </div>
        <div class="card">
            <img src="/team-photos/joseph-camacho.jpg" alt="joseph-camacho">
            <h4>Joseph Camacho</h4>
            <p>Team Leader </p>
        </div>
        <div class="card">
            <img src="/team-photos/cat-clarino.jpg" alt="cat-clarino">
            <h4>Cat Clarino</h4>
            <p>Scrum Master</p>
        </div>
        <div class="card">
            <img src="/team-photos/roel-edeleon1.png" alt="roel-edeleon">
            <h4>Roel Edeleon</h4>
            <p>Developer</p>
        </div>
        <div class="card">
            <img src="/team-photos/tin-pasco.jpg" alt="tin-pasco">
            <h4>Tin Pasco</h4>
            <p>Developer</p>
        </div>
        <div class="card">
            <img src="/team-photos/jeadine-boldios.png" alt="jeadine-boldios">
            <h4>Jeadine Boldios</h4>
            <p>Developer</p>
        </div>
        <div class="card">
            <img src="/team-photos/gerard-aquino-jr.JPG" alt="gerard-aquino-jr">
            <h4>Gerard Aquino, Jr.</h4>
            <p>Developer</p>
        </div>
    </div>
</div>